{% extends "landing/base.html" %} {% load static %} {% block link %}
<link rel="stylesheet" href="{% static 'css/landing/home.css' %}" />
{% endblock %} {% block main %}
<div class="landing-1">
  <img class="landing-image" src="{% static 'assets/phishing-bg.png'%}" alt="..." />
  <div class="landing-inner">
    <p class="vt323-regular">🔥 AI-Powered Fake-News Detector & Misinformation Analyzer</p>
    <div class="logo-container">
      <img src="{% static 'assets/v_logo.png'%}" alt="" />
    </div>
    <div class="bottom">
      {% if not user.is_authenticated %}
      <div class="container-1">
        <small class="open-sans">Authentication</small>
        <a class="roboto-mono" style="width: 38%" href="{% url 'Auth' %}?action=signup">Get started</a>
      </div>
      <div class="container-2">
        <small class="open-sans">Secure</small>
        <a class="roboto-mono" href="#" style="width: 35%">Learn more</a>
      </div>
      {% elif user.is_authenticated %}
      <div class="container-1">
        <small class="open-sans">{{user.username}}</small>
        <a class="roboto-mono" style="width: 27%" href="#">Dashboard</a>
      </div>
      <div class="container-2">
        <small class="open-sans">Chat</small>
        <a class="roboto-mono" href="#" style="width: 38.5%">Try Demo Chat</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="landing-2">
  <p class="silkscreen-regular feature-txt">🛠️ Key Features</p>
  <div class="containers">
    <div class="container-1" data-tilt data-tilt-max="0" data-tilt-glare="true" data-tilt-max-glare=".2">
      <p class="open-sans f1-content">🔍 Real-Time fake information detects</p>
      <p class="quicksand f2-content">
        This app detects fake information in chats in real time by analyzing messages and verifying sender
        authenticity.
      </p>
      <p class="quicksand f2-content">
        It uses Ai to fact-check content, detect misinformation, and flag suspicious behavior. Users get
        instant alerts and fact-checking recomendations for a safer communication experience.
      </p>
    </div>
    <div class="container-2" data-tilt data-tilt-max="0" data-tilt-glare="true" data-tilt-max-glare=".2">
      <p class="open-sans f1-content">🧠 Using AI to information correction</p>
      <p class="quicksand f2-content">
        Uses AI to detect and correct fake information in chats in real time.
      </p>
      <p class="quicksand f2-content">
        It verifies facts, analyzes sender credibility, and flags suspicious content to ensure accurate and
        trustworthy communication.
      </p>
    </div>
    <div class="container-3" data-tilt data-tilt-max="0" data-tilt-glare="true" data-tilt-max-glare=".2">
      <p class="open-sans f1-content">🛡️Logging Security</p>
      <p class="quicksand f2-content">
        Our system includes a login and signup feature to ensure that only authorized users can access the
        platform. This helps maintain a secure environment for all users.
      </p>
      <p class="quicksand f2-content">
        It ensures that user data is encrypted and securely stored, protecting sensitive information from
        unauthorized access.
      </p>
    </div>
    <div class="container-4" data-tilt data-tilt-max="0" data-tilt-glare="true" data-tilt-max-glare=".2">
      <p class="open-sans f1-content">📊 Personalized Reports & Analytics</p>
      <p class="quicksand f2-content">
        Gain actionable insights with our platform's advanced analytics, helping you stay ahead in identifying
        and combating fake information.
      </p>
      <p class="quicksand f2-content">
        It generates personalized analytics to help users understand their strengths and weaknesses in
        identifying fake information.
      </p>
    </div>
  </div>
</div>
<div class="landing-3">
  <p class="working-txt silkscreen-regular">💡 How It Works</p>
  <div class="containers">
    <div class="left quicksand">
      <p>1️⃣ Sign Up & Log In – Create an account to start your fake news awareness journey.</p>
      <p>2️⃣ Receive any fake message – Checks the messages and alter</p>
      <p>3️⃣ Real time – The system instantly alerts the user and provides corrected information.</p>
      <p>4️⃣ View Reports & Improve – Track your responses and prevent real-world attacks.</p>
    </div>
    <div class="right">
      <img src="{% static 'assets/malware.png' %}" alt="..." />
    </div>
  </div>
</div>
<div class="landing-4">
  <p class="silkscreen-regular whocan-txt">📣 Who Can Use This?</p>
  <div class="containers">
    <div class="container-1" data-tilt data-tilt-max="0" data-tilt-glare="true" data-tilt-max-glare=".2">
      <p class="open-sans f1-content">🏢 Organizations & Businesses</p>
      <p class="quicksand f2-content">To prevent the spread of fake information within teams.</p>
    </div>
    <div class="container-2" data-tilt data-tilt-max="0" data-tilt-glare="true" data-tilt-max-glare=".2">
      <p class="open-sans f1-content">👨‍💼 Individuals</p>
      <p class="quicksand f2-content">To verify the authenticity of messages and avoid misinformation.</p>
    </div>
    <div class="container-3" data-tilt data-tilt-max="0" data-tilt-glare="true" data-tilt-max-glare=".2">
      <p class="open-sans f1-content">💬 Whatsapp Users</p>
      <p class="quicksand f2-content">
        Individuals who want to verify forwarded messages and avoid misinformation.
      </p>
    </div>
  </div>
</div>

{% endblock %} {% block script %}
<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}
