{% extends "landing/base.html" %} {% load static %} {% block link %}
<link rel="stylesheet" href="{% static 'css/landing/home.css' %}" />
{% endblock %} {% block main %}
<div class="landing-1">
  <img class="landing-image" src="{% static 'assets/main1-bg.png'%}" alt="..." />
  <div class="landing-inner">
    <p class="vt323-regular">🔥 AI-Powered Fake-News Detector & Misinformation Analyzer</p>
    <div class="logo-container">
      <img src="{% static 'assets/logo-main.png'%}" alt="" />
      <p class="orbitron">Veritas AI</p>
    </div>
    <div class="bottom">
      {% if not user.is_authenticated %}
      <div class="container-1">
        <small class="open-sans">Authentication</small>
        <a class="roboto-mono" style="width: 38%" href="{% url 'Auth' %}?action=signup">Get started</a>
        <a class="roboto-mono" href="#" style="width: 45%">Get Started</a>
      </div>
      <div class="container-2">
        <small class="open-sans">Secure</small>
        <a class="roboto-mono" href="#" style="width: 35%">Learn more</a>
      </div>
      {% elif user.is_authenticated %}
      <div class="container-1">
        <small class="open-sans">{{user.username}}</small>
        <a class="roboto-mono" style="width: 27%" href="#">Dashboard</a>
      </div>
      <div class="container-2">
        <small class="open-sans">Chat</small>
        <a class="roboto-mono" href="#" style="width: 38.5%">Try Demo Chat</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %} {% block script %}
<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}
