@import url(https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap);

html::-webkit-scrollbar {
  display: none;
}
.roboto-mono {
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.silkscreen-regular {
  font-family: "Silkscreen", serif;
  font-weight: 400;
  font-style: normal;
}
.vt323-regular {
  font-family: "VT323", serif;
  font-weight: 400;
  font-style: normal;
}
.orbitron {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.open-sans {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --body: #dbd3d0;
  --text: #1e1211;
  --trans: #ffffff30;
  --trans-hover: #ffffff13;
}
* {
  margin: 0;
  padding: 0;
}

.carousel-caption1 {
  position: absolute;
  bottom: 70px;
  left: 5%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
}

body {
  display: flex;
  flex-direction: column;
  nav {
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    background: rgba(252, 251, 251, 0.973);
    // backdrop-filter: blur(2px);
    // -webkit-backdrop-filter: blur(1px);
    color: black;
    z-index: 1000;
    transition: 0.2s ease-out;
    .nav-left {
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        height: 40px;
        width: 130px;
        margin-top: 7px;
      }
      a {
        margin-top: 20px;
        font-size: larger;
        text-decoration: none;
        color: var(--text);
      }
    }
    .nav-right {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 40px;
      a {
        text-decoration: none;
        color: var(--text);
        position: relative;
        font-size: 15px;
      }
      a:after {
        content: "";
        position: absolute;
        background-color: black;
        height: 2px;
        left: 0;
        width: 0;
        bottom: -5px;
        transition: 0.1s ease-in;
      }
      a:hover:after {
        width: 100%;
        color: black;
      }
      .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        align-items: end;
        gap: 4px;

        .bar1,
        .bar3 {
          width: 25px;
          height: 2.5px;
          background-color: var(--text);
          margin: 1.1px 0;
          transition: 0.5s ease;
          border-radius: 5px;
        }
        .bar2 {
          width: 18px;
          height: 2.5px;
          background-color: var(--text);
          margin: 1.1px 0;
          transition: 0.5s ease;
          border-radius: 5px;
        }
        &.change {
          .bar1 {
            transform: translate(0, 8.4px) rotate(-45deg);
          }

          .bar2 {
            opacity: 0;
          }

          .bar3 {
            transform: translate(0, -8.4px) rotate(45deg);
          }
        }
      }
    }
  }
  #sidebar {
    position: fixed;
    top: 60px;
    right: -250px;
    width: 250px;
    z-index: 9999;
    transition: 0.3s ease-in-out;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgba(255, 255, 255, 0.465);
    backdrop-filter: blur(8px);
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;

    .top {
      display: flex;
      flex-direction: column;
      padding: 10px;
      // border: 1px solid white;
      gap: 5px;
      a {
        text-decoration: none;
        color: var(--text);
        padding: 10px;
        // border: 1px solid white;
        border-radius: 5px;
      }
      a:hover {
        background-color: rgba(0, 0, 0, 0.384);
      }
    }
    .bottom {
      position: absolute;
      bottom: 0;
      display: flex;
      flex-direction: column;
      padding: 10px;
      // border: 1px solid white;
      gap: 5px;
      width: 90%;
      a {
        text-decoration: none;
        color: var(--text);
        padding: 10px;
        border-radius: 5px;
        // border: 1px solid white;
      }
      a:hover {
        background-color: var(--trans-hover);
      }
    }
  }
  #sidebar.open {
    right: 0;
  }
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #c0c0c0;
    #ideapage {
      .container {
        display: flex;
        gap: 4rem;
        .raise-complaint {
          display: flex;
          flex-direction: column;
          gap: 15px;
          border: 1px solid black;
          border-radius: 10px;
          transition: transform 0.3s ease-in;
          background-color: rgb(24, 24, 114);
          img {
            height: 300px;
            width: 300px;
            border-radius: 10px;
          }
          a {
            padding: 10px 10px 20px 10px;
            font-size: 20px;
            color: white;
          }
        }
        .raise-complaint:hover {
          transform: scale(1.05) !important;
        }
      }
    }
  }
}

#landingpage {
  margin-top: 55px;
}

.car-con-p {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
  font-family: Roboto;
}

.car-con-slogan {
  color: #fff;
  font-family: Roboto;
  font-weight: 500;
}

.form-control1 {
  display: block;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

.form-control1:focus {
  color: #495057;
  background-color: #fff;
  border-color: none;
  border: 1px solid #ced4da;
  border-right: none;
  outline: 0;
}

.undl {
  text-decoration: none;
}

.undl:hover {
  text-decoration: none;
  cursor: pointer;
}

.footer-undl {
  text-decoration: none;
  color: antiquewhite;
}

.footer-undl:hover {
  color: antiquewhite;
  text-decoration: none;
  cursor: pointer;
}
.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.305);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 50px 0;
  color: white;
  position: relative;
  background-color: rgb(24, 24, 114);
  .foot-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    padding-left: 3%;

    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 100px;
      img {
        height: 60px;
        width: 120px;
      }
      p {
        font-size: 1.5vw;
        margin-top: 20px;
      }
    }
    .copyrights {
      display: flex;
      flex-direction: row;
      color: var(--lwhite);
      margin-left: 100px;
      p {
        a {
          text-decoration: none;
          color: var(--lwhite);
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
    .devcontact {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: var(--lwhite);
      margin-left: 100px;
      [class^="c-"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        a {
          text-decoration: none;
          color: var(--lwhite);
          margin-bottom: 5px;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .foot-right {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    gap: 17%;
    margin-left: 40px;

    [class^="r-"] {
      display: flex;
      flex-direction: column;
      gap: 15px;
      p {
        margin-bottom: 5px;
      }
      a {
        text-decoration: none;
        color: var(--lwhite);
        position: relative;
      }
      a:hover {
        text-decoration: underline;
      }
      // a:after {
      //   content: " ";
      //   position: absolute;
      //   background-color: white;
      //   left: 0;
      //   width: 0;
      //   height: 2px;
      //   transition: 0.2s ease-in;
      //   bottom: -5px;
      // }
      // a:hover:after {
      //   width: 100%;
      // }
    }
  }
}
